# SQLite database file
db.sqlite3

# Environment variables file
.env

# Virtual environment directory
venv/

# Python bytecode cache
__pycache__/

# Media directory
media/

# IDE directories (e.g., PyCharm, VS Code, etc.)
.idea/

# Ignore migration files in apps
apps/*/migrations/*.py
apps/__pycache__/

# Keep the migration init file to track migrations
!apps/*/migrations/__init__.py
