{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Bog'lanish
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Biz bilan bog'lanish</h2>

    <!-- Form Section -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">Ismingiz</label>
                    {{ form.name|add_class:"form-control" }}
                </div>
            
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Elektron pochta</label>
                    {{ form.email|add_class:"form-control" }}
                </div>
            
                <div class="form-group">
                    <label for="{{ form.phone_number.id_for_label }}">Telefon raqami</label>
                    {{ form.phone_number|add_class:"form-control" }}
                </div>
            
                <div class="form-group">
                    <label for="{{ form.body.id_for_label }}">Xabar</label>
                    {{ form.body|add_class:"form-control" }}
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Yuborish</button>
            </form>

            <!-- Error Messages -->
            {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
